*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

/* header css portion */

header{
    display: flex;
    background-color: #0dcaf0;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.phonenumber-email{
    display: flex;
    align-items: center;
}

.phonenumber-email p{
    margin-left: 20px;
    margin-bottom: 0;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.phonenumber-email p i{
    margin-right: 5px;
}

.facebook-insta-twitter-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.facebook-insta-twitter-icons ul li{
    margin-left: 10px;
    padding: 5px 9px;
    background-color: white;
    border-radius: 34px;
}

.facebook-insta-twitter-icons ul li i{
    color: #0dcaf0;
}

.email-phonenumber{
    display: none;
}

.email-phonenumber p{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.insta-facebook-twitter-icons{
    display: none;
}

.insta-facebook-twitter-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.insta-facebook-twitter-icons ul li {
    background-color: white;
    margin-left: 20px;
    padding: 6px 10px;
    border-radius: 30px;
    color: #0dcaf0;

}




/* navbar css portion */


nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 5px;
    position: sticky;
}

.logo{
    padding:10px;
    color: black
}

.logo h3{
    margin: 0;
}

.logo h3 img{
    width: 100px;
    height: auto;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    padding: 5px 10px;
}

nav ul li a {
    color: #0dcaf0;
    font-size: 20px;
    font-weight: 600;
}

nav ul li a:hover{
        color:black;
}

.search-profile{
    background-color:#0dcaf0;
    color: white;
    border-radius: 40px;
    padding: 8px 13px;
}

.hamburg{
    display: none;
    font-size: 26px;
    background-color: white;
    border: 1px solid aqua;
    color: black;
    padding: 0px 16px;
    border-radius: 6px;
}

.menu-contact {
    display: none;
}

.menu-contact h3{
    display: none;
    margin: 0;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    text-align: center;
    position: absolute;
    top: 60px;
    left: 10px;
    background-color:rgba(0, 255, 255, 0.733);
    border-radius: 6px;
    padding: 0;
    display: none;
    z-index: 1;
}

.dropdown-content li{
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding:10px 24px;
    width: 100%;
}

.dropdown-content li:hover{
    background-color: black;
    color: aqua;
}

.dropdown:hover .dropdown-content{
    display: block;
    transition: .7s all linear;
}


@media all and (max-width:900px) {

    
    nav{
        display: block;
        z-index: 1;
    }

    nav ul{
        text-align: center;
        padding: 0;
    }

    nav ul li{
        display: block;
        padding: 15px 10px;
    }

    nav ul li a{
        font-size: 20px;
    }

    .display{
        background-color: black;
        position:fixed;
        top: 162px;
        padding-top: 20px;
        z-index: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        transform: translate(100%);
        transition: transform .7s ease-in;
    }

    .search-profile{
        display: none;
    }

    .hamburg{
        display: block;
        position: absolute;
        top: 28px;
        right: 25px;
    }

    .menu-contact{
        display: block;
    }

    .menu-contact h3{
        display: block;
        color:aqua
    }

    .email-phonenumber{
        display: block;
    }

    .insta-facebook-twitter-icons{
        display: block;
    }

    .showmenu{
        transform: translateX(0%);
        z-index: 1;
    }

}


@media screen and (max-width:600px) {
    header{
        display: none;
    }

    .display{
        background-color: black;
        position:fixed;
        top: 97px;
        padding-top: 20px;
        z-index: 0;
        right: 0;
        width: 70%;
        height: 100vh;
       
        transition: transform .7s ease-in;
    }
}


/* navbar css portion completed */



/* landing page css portion */

.landing-img{
    position: relative;
}
.landing-img img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    -webkit-filter: grayscale(100%); 
  filter: grayscale(20%);
}

.landing-page-content{
    position: absolute;
    top: 30%;
     text-align: center;
    width: 100%;
}

.landing-page-content h5{
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;

}

.landing-page-content p{
      font-size: 4rem;
      color: white;
      line-height: 100px;
      font-weight: bolder;
}
.landing-page-content button{
    /* background-color: rgb(1, 192, 176); */
    padding: 8px 20px;
    color:white;
    background-color:black;
    -webkit-backdrop-filter: blur(5px);
    border-radius: 2px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    transition: all .5s;
  }

.landing-page-content button:hover{
  background-color: transparent;
  border: 1px solid #0dcaf0;
  color: black;
  transition: all .5s;
}

.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

 .one-line{
    width: 100px;
    height: 5px;
    border: #0dcaf0;
    background-color: black;
    margin: 10px;
}

@media screen and (max-width:900px) {
   .landing-page-content p{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
   }
}

@media screen and (max-width:500px) {

    .landing-img img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

  .landing-page-content p{
    line-height: 40px;
    font-size: 1.8rem;
  }

}

/* // landing page css completed // */

/* // input css start // */


.input-container {
    position: relative;
  }
  
  .input-container input {
    padding-left: 40px; /* Adjust based on icon width */
    height: 45px;
    margin-left: 5px;
    border: 1px solid rgb(223, 223, 223);
  }
  
  .input-container .fa {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #0dcaf0; /* Icon color */
  }
  
  .choose-your-places{
    background-color:white;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 60%;
    margin:60px auto;
    border: 0.5px solid #8fecff;
  }
  
  .input-places{
   text-align: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-grow: 1;
  }
  
  .input-places button{
    padding: 8px 20px;
    border: 1px solid #0dcaf0;
    background-color: #0dcaf0;
    color: white;
    font-size: large;
    font-weight: 600;
    margin-left: 5px;
    border-radius: 2px;
  }
  
  
  @media screen and (max-width:900px) {
    .choose-your-places{
      width: 90%;
     
    }
}

  @media screen and (max-width:1024px) {

    .input-places{
        display:block;
    }

    .input-container{
        margin-top: 10px;
    }

    .input-container input{
        width: 100%;
    }
  }

  /* // input css completed // */

.explore-images-places h1{
    text-align: center;
    margin-top: 100px auto;
    font-size: 40px;
    font-weight: 700;
  }
  .grid-images{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    width: 100%;
    margin: 50px auto;
   }
  
  .explore-image{
    padding-left: 10px;
    position: relative;
  }
  
  .explore-image p{
    position: absolute;
      bottom: 0;
      left: 10%;
      font-size: 24px;
      font-weight: 700;
      color: white;
  }
  
  .grid-images img{
    width: 100%;
    height: 280px;
    object-fit:cover;
    margin-top: 10px;
    border-radius: 6px;
  }

  @media screen and (max-width:550px){}
   
  
  
  @media screen and (max-width:700px) {
        .grid-images{
           max-width: 77%;
        }

        .explore-image {
            padding-left: 0;
        }
}
  
  @media screen and (min-width:700px) and (max-width:980px) {
    .grid-images{
      max-width: 90%;
    }
  }
  
  @media screen and (min-width:980px) and (max-width:1400px) {
      .grid-images{
        max-width: 90%;
      }
  }


  /* // explore-image css completed // */

  /* // Tour package css start // */

  .container-tourpackage h1{
    text-align: center;
    font-size:40px;
    font-weight: 700;
    margin-top: 100px;
  }

  .container-tourpackage p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
  }
  